@import "bootstrap/scss/bootstrap.scss";

.hidden {
	display: none !important;
	//visibility: hidden;
}

.main {
	height: 100vh;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	align-items: stretch;

}
.page {
	overflow-y: auto;
	flex-grow: 1;	
	padding: 1em;
	position: relative;

	.drag-overlay {
		background: rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		color: white;
	}
}

.nav--sidebar {
	min-width: 180px;
	max-width: 240px;
	padding: 0;

	flex: 1 1 20%;

	.nav-divider {
		margin: 1em 0;
		height: 1px;
		background: rgba(255, 255, 255, 0.2);
	}

	.nav-item {
		font-weight: bold;

		.nav-link {
			padding: 1em 2em;
			color: mix($primary, white, 20%);
		}
	}

	.nav-item:hover {
		background: mix($primary, white, 20%);
		
		.nav-link {
			color: $dark;
		}
	}
}

.toolbar {
	background: $dark;
	padding: 1em;
	color: $light;

	.breadcrumb {
		display: inline-flex;
		background: none;
		color: $light;
		margin-bottom: 0;
		padding: 0;
	}
}

.table {
	max-width: 1000px;
}
.table tbody {
	tr.row-danger {
		background-color: rgba($red, .15);
	}
	tr.row-pending {
		background-color: rgba($blue, .15);
	}

	td {
		vertical-align: middle;
	}

	.small-col {
		white-space: nowrap;
		width: 1px;
	}
}
.form-group.form-group--inline {

	.form-control {
		display: inline-block;
		width: 300px;
	}
}
